/* font-family: 'Roboto Mono', monospace;
font-family: 'Work Sans', sans-serif; */

:root {
  --branding-base-color: #1d8c99;
  --branding-light-color: #cbeef2;
  --branding-dark-color: #0d646d;
  --secondary-color: white;
  --base-color: black;
  --additional-color: #0d6efd;
  --default-font-family: "Work Sans", sans-serif;
  --p-font-size: 22px;
  --h2-font-size: 38px;
  --h1-font-size: 50px;
}

body {
  background-color: var(--branding-light-color);
}

h2 {
  color: var(--branding-dark-color);
  font-size: var(--h2-font-size);
  text-align: center;
  font-weight: bold;
}
h2:hover {
  color: var(--additional-color);
}

img {
  max-width: 200px;
}

p,
li,
.page-link {
  font-size: var(--p-font-size);
  font-weight: normal;
}

@media (max-width: 500px) {
  img {
    max-width: 100px;
  }
  p,
  li,
  .page-link {
    font-size: 16px;
  }
  h2 {
    font-size: 26px;
  }
  h1 {
    font-size: 32px;
  }
}
