:root {
  --branding-base-color: #1d8c99;
  --branding-light-color: #cbeef2;
  --branding-dark-color: #0d646d;
  --secondary-color: white;
  --base-color: black;
  --additional-color: #a643bc;
  --default-font-family: "Roboto Mono", monospace;
  --p-font-size: 22px;
  --h2-font-size: 40px;
  --h1-font-size: 48px;
}

body {
  background-color: var(--branding-light-color);
}

h2 {
  color: var(--branding-dark-color);
  font-size: var(--h2-font-size);
  text-align: center;
}
h2:hover {
  color: var(--additional-color);
}

img {
  max-width: 200px;
}

p,
li {
  font-size: var(--p-font-size);
}

@media (max-width: 500px) {
  img {
    max-width: 100px;
  }
}
